{% extends 'layout/layout.html.twig' %}

{# Pour l'affichage en mode 'page type' #}
{% block body_attr %}class='default'{% endblock %}

{% block content %}
    <div class='page-header'>
        <div class='bg-lutins'></div>
        <div class='container'>
            <h1>Mentions légales</h1>
        </div>
    </div>
    <div id="content" class="site-content container">
        <main class="site-main" role="main">
            <div class="entry-content">
                <h2>Généralités</h2>
                <div class="columns columns-2">
                    <div class="col">
                        <h3>Propriété et responsabilité éditoriale</h3>
                        <p>Le présent site est la propriété de la société Code Lutin</p>
                        <p><strong>Code Lutin<br>12 Avenue Jules Verne<br>44230 Saint-Sébastien-sur-Loire</strong></p>
                        <h3>Responsable technique</h3>
                        <p><strong>Le présent site est maintenu par la société Code Lutin.</strong></p>
                    </div>
                    <div class="col">
                        <h3>Hébergement du site</h3>
                        <p>L'hébergement du présent site est assuré par OVH.</p>
                        <p><strong>OVH<br>140, quai du Sartel<br>59100 Roubaix<br>France<br>Site web : <a href="https://www.ovh.com">www.ovh.com</a></strong></p>
                    </div>
                </div>
                <div class='srSection'>
                    <h2>Données personnelles</h2>
                    <h3>Données nominatives</h3>
                    <p>Conformément à l’article 34 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, l’utilisateur dispose d’un droit d’accès, de modification, de rectification et de suppression des données qui le concernent. Pour l’exercer, l’utilisateur peut nous contacter.</p>
                    <h3>Cookies</h3>
                    <p>L’utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation. Un cookie est un élément qui ne permet pas d’identifier l’utilisateur mais sert à enregistrer des informations relatives à la navigation de celui-ci sur le site Internet (analyser le trafic du site par exemple). L’utilisateur pourra désactiver ce cookie par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.</p>
                    <h3>Liens hypertextes</h3>
                    <p>Le présent site peut contenir des liens hypertextes vers des sites tiers, partenaires ou non. Ces sites ne sont pas sous le contrôle de la société Code Lutin qui décline toute responsabilité quant au contenu de ces sites, des mises-à-jour qui pourraient leur être apportées ou de toute communication à votre encontre émise par lesdits sites. L’insertion de tels liens dans le site n’implique en aucun cas quelque approbation de leur contenu par la société Code Lutin.Le présent site peut contenir des liens hypertextes vers des sites tiers, partenaires ou non. Ces sites ne sont pas sous le contrôle de la société Code Lutin qui décline toute responsabilité quant au contenu de ces sites, des mises-à-jour qui pourraient leur être apportées ou de toute communication à votre encontre émise par lesdits sites. L’insertion de tels liens dans le site n’implique en aucun cas quelque approbation de leur contenu par la société Code Lutin.</p>
                </div>

                <div class='srSection '>
                    <h2>Propriété intellectuelle</h2>
                    <p>Le site Internet, sa structure générale, ainsi que les textes, images animées ou non, savoir-faire, dessins, graphismes (…) et tout autre élément composant le site, sont la propriété de la société Code Lutin et de leurs auteurs respectifs. Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse de l’exploitant du site Internet est interdite et constituerait une contrefaçon sanctionnée par les articles L 335-2 et suivants du Code de la propriété intellectuelle. Les marques de l’exploitant du site Internet et de ses partenaires, ainsi que les logos figurant sur le site sont des marques (semi-figuratives ou non) déposées. Toute reproduction totale ou partielle de ces marques ou de ces logos, effectuée à partir des éléments du site sans l’autorisation expresse de l’exploitant du site Internet ou de son ayant-droit est donc prohibée, au sens de l’article L713-2 du Code de la Propriété Intellectuelle.</p>
                    <p>Nous vous remercions de nous faire part d’éventuelles omissions, erreurs, corrections, en nous contactant.</p>
                </div>

                <div class='srSection'>
                    <h2 class="align-center">Texte de placement pour définition des styles</h2>
                    <p>Élément composant le site, sont la propriété de la société Code Lutin et de leurs auteurs respectifs. Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse de l’exploitant du site Internet est interdite et constituerait une contrefaçon sanctionnée par les articles L 335-2 et suivants du Code de la propriété intellectuelle. Les marques de l’exploitant du site Internet et de ses partenaires, ainsi que les logos figurant sur le site sont des marques :</p>
                    <ul>
                        <li>Code de la propriété intellectuelle</li>
                        <li>Les marques de l’exploitant du site Internet et de ses partenaires, ainsi que les logos figurant sur le site sont des marques.</li>
                        <li>Les logos figurant sur le site</li>
                        <li>Effectuée à partir des éléments du site sans l’autorisation.</li>
                    </ul>
                    <ol>
                        <li>Code de la propriété intellectuelle</li>
                        <li>Les marques de l’exploitant du site Internet et de ses partenaires, ainsi que les logos figurant sur le site sont des marques.</li>
                        <li>Les logos figurant sur le site</li>
                        <li>Effectuée à partir des éléments du site sans l’autorisation.</li>
                    </ol>
                </div>
                <img src="img/example.jpg" class="align-left">
                <p class="big-margin-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis orci finibus metus efficitur laoreet. Praesent in sem cursus urna mollis fringilla in ut metus. Proin maximus nulla sed urna molestie, ut malesuada ligula lobortis. Mauris eget scelerisque nulla, ut pretium quam. Praesent eleifend rutrum eleifend. Maecenas lacinia ante nec mi feugiat, vehicula tempor nunc convallis. Aenean ac leo a est ullamcorper mattis eget ac sem. Nam sed nibh eros. Aenean ipsum nisi, semper vitae vehicula vel, porta vitae eros. Morbi lobortis nibh est, id porta nisl interdum in. Nulla consequat posuere lacus quis ornare. Nullam efficitur mauris at scelerisque viverra. Nulla erat purus, efficitur id ullamcorper vel, accumsan ac enim. Curabitur mattis volutpat orci, et elementum mi consectetur eu.</p>
                <p>Maecenas ac dapibus urna, quis dapibus magna. Nullam eget consectetur velit. Cras maximus tellus id scelerisque pharetra. Pellentesque et nunc odio.</p>
                <p class="clear">Sus pendisse lorem ipsum, porta quis tempus a, elementum vel nisl. Mauris iaculis quam in justo egestas scelerisque. Suspendisse lacinia leo in ante pharetra congue. Fusce libero nunc, fringilla vel interdum sed, finibus vel augue. Curabitur et ultrices dui. Integer eu imperdiet arcu, quis malesuada massa. Aliquam a tincidunt lorem.</p>
                <blockquote>
                    <p>pendisse lorem ipsum, porta quis tempus a, elementum vel nisl. Mauris iaculis quam in justo egestas scelerisque. Suspendisse lacinia leo in ante pharetra congue. Fusce libero nunc, fringilla</p>
                </blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis orci finibus metus efficitur laoreet. Praesent in sem cursus urna mollis fringilla in ut metus. Proin maximus nulla sed urna molestie, ut malesuada ligula lobortis. Mauris eget scelerisque nulla, ut pretium quam. Praesent eleifend rutrum eleifend. Maecenas lacinia ante nec mi feugiat, vehicula tempor nunc convallis. Aenean ac leo a est ullamcorper mattis eget ac sem. Nam sed nibh eros. Aenean ipsum nisi, semper vitae vehicula vel, porta vitae eros. Morbi lobortis nibh est, id porta nisl interdum in. Nulla consequat posuere lacus quis ornare. Nullam efficitur mauris at scelerisque viverra. Nulla erat purus, efficitur id ullamcorper vel, accumsan ac enim. Curabitur mattis volutpat orci, et elementum mi consectetur eu.</p>
                <p>Maecenas ac dapibus urna, quis dapibus magna. Nullam eget consectetur velit. Cras maximus tellus id scelerisque pharetra. Pellentesque et nunc odio. Sus</p>
                <figure>
                    <img src="img/example2.jpg">
                    <figcaption>Exemple de titre photo</figcaption>
                </figure>
                <h3 class="align-center">Titre niveau 3 centré</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis orci finibus metus efficitur laoreet. Praesent in sem cursus urna mollis fringilla in ut metus. Proin maximus nulla sed urna molestie, ut malesuada ligula lobortis.</p>
                <h4 class="align-center">Titre niveau 4 centré</h4>
                <p>Mauris eget scelerisque nulla, ut pretium quam. Praesent eleifend rutrum eleifend. Maecenas lacinia ante nec mi feugiat, vehicula tempor nunc convallis. Aenean ac leo a est ullamcorper mattis eget ac sem. Nam sed nibh eros. Aenean ipsum nisi, semper vitae vehicula vel, porta vitae eros. Morbi lobortis nibh est, id porta nisl interdum in. Nulla consequat posuere lacus quis ornare. Nullam efficitur mauris at scelerisque viverra. Nulla erat purus, efficitur id ullamcorper vel, accumsan ac enim. Curabitur mattis volutpat orci, et elementum mi consectetur eu.</p>
                <div class="align-center big-margin-top">
                    <a href="#" class="btn-primary btn-icon spaced"><svg class='icon icon-envelope'><use xlink:href='#icon-envelope'></use></svg>Bouton principal</a>
                    <a href="#" class="btn-primary btn-icon spaced"><svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>Bouton principal</a>
                </div>
                <div class="align-center big-margin-top">
                    <a href="#" class="btn-secondary btn-icon"><svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>Bouton secondaire</a>
                </div>
                <div class="align-center big-margin-top">
                    <a href="#" class="link">Lien mis en avant</a>
                </div>
                <div class="columns columns-3 big-margin-top">
                    <div class="col srSection">
                        <h4 class="align-center">Colonne</h4>
                        <p>Mauris eget scelerisque nulla, ut pretium quam. Praesent eleifend rutrum eleifend. Maecenas lacinia ante nec mi feugiat, vehicula tempor nunc convallis. Aenean ac leo a est ullamcorper mattis eget ac sem. Nam sed nibh eros. Aenean ipsum nisi, semper vitae vehicula vel, porta vitae eros. Morbi lobortis nibh est, id porta nisl interdum in. Nulla consequat posuere lacus quis ornare. Nullam efficitur mauris at scelerisque viverra. Nulla erat purus, efficitur id ullamcorper vel, accumsan ac enim.</p>
                    </div>
                    <div class="col srSection">
                        <h4 class="align-center">Colonne</h4>
                        <p>Mauris eget scelerisque nulla, ut pretium quam. Praesent eleifend rutrum eleifend. Maecenas lacinia ante nec mi feugiat, vehicula tempor nunc convallis. Aenean ac leo a est ullamcorper mattis eget ac sem. Nam sed nibh eros. Aenean ipsum nisi, semper vitae vehicula vel, porta vitae eros. Morbi lobortis nibh est, id porta nisl interdum in. Nulla consequat posuere lacus quis ornare. Nullam efficitur mauris at scelerisque viverra. Nulla erat purus, efficitur id ullamcorper vel, accumsan ac enim.</p>
                    </div>
                    <div class="col srSection">
                        <h4 class="align-center">Colonne</h4>
                        <p>Mauris eget scelerisque nulla, ut pretium quam. Praesent eleifend rutrum eleifend. Maecenas lacinia ante nec mi feugiat, vehicula tempor nunc convallis. Aenean ac leo a est ullamcorper mattis eget ac sem. Nam sed nibh eros. Aenean ipsum nisi, semper vitae vehicula vel, porta vitae eros. Morbi lobortis nibh est, id porta nisl interdum in. Nulla consequat posuere lacus quis ornare. Nullam efficitur mauris at scelerisque viverra. Nulla erat purus, efficitur id ullamcorper vel, accumsan ac enim.</p>
                    </div>
                </div>
            </div>
        </main>
    </div><!-- .site-content -->
{% endblock content %}
