{% extends 'layout/layout.html.twig' %}


{# Pour l'affichage en mode 'page type' #}
{% block body_attr %}class='default'{% endblock %}

{% block content %}
    <div class='page-header'>
        <div class='bg-lutins'></div>
        <div class='container'>
            <h1>IFremer</h1>
        </div>
    </div>
    <div id="content" class="site-content container">
        <main class="site-main" role="main">
            <div class="entry-content">
                <h2>Développement Logiciel</h2>
                <div class='srSection'>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, debitis voluptatem eligendi tempora enim harum accusamus explicabo dignissimos molestias animi reiciendis quod earum eaque, laudantium quaerat doloremque. Nesciunt, maxime, quis.</p>
                    <h3>Développement d'un simulateur</h3>
                    <img width='500' src="img/ref2.jpg" class="align-left">
                    <p class="big-margin-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis orci finibus metus efficitur laoreet. Praesent in sem cursus urna mollis fringilla in ut metus. Proin maximus nulla sed urna molestie, ut malesuada ligula lobortis. Mauris eget scelerisque nulla, ut pretium quam. Praesent eleifend rutrum eleifend. </p>
                    <p class='clearfix'>Maecenas lacinia ante nec mi feugiat, vehicula tempor nunc convallis. Aenean ac leo a est ullamcorper mattis eget ac sem. Nam sed nibh eros. Aenean ipsum nisi, semper vitae vehicula vel, porta vitae eros. Morbi lobortis nibh est, id porta nisl interdum in. Nulla consequat posuere lacus quis ornare. Nullam efficitur mauris at scelerisque viverra. Nulla erat purus, efficitur id ullamcorper vel, accumsan ac enim. Curabitur mattis volutpat orci, et elementum mi consectetur eu.</p>
                    <blockquote>
                        <p>L'équipe Code Lutin est très professionnelle et a su répondre à nos besoins !</p>
                    </blockquote>
                </div>
                <div class="columns columns-3">
                    <div class="col srSection">
                        <h4 class="align-center">Etape 1</h4>
                        <p>Mauris eget scelerisque nulla, ut pretium quam. Praesent eleifend rutrum eleifend. Maecenas lacinia ante nec mi feugiat, vehicula tempor nunc convallis. Aenean ac leo a est ullamcorper mattis eget ac sem. Nam sed nibh eros. Aenean ipsum nisi, semper vitae vehicula vel, porta vitae eros. Morbi lobortis nibh est, id porta nisl interdum in. Nulla .</p>
                    </div>
                    <div class="col srSection">
                        <h4 class="align-center">Etape 2</h4>
                        <p>Mauris eget scelerisque nulla, uattis eget ac sem. Nam sed nibh eros. Aenean ipsum nisi, semper vitae vehicula vel, porta vitae eros. Morbi lobortis nibh est, id porta nisl interdum in. Nulla consequat posuere lacus quis ornare. Nullam efficitur mauris at scelerisque viverra. Nulla erat purus, efficitur id ullamcorper vel, accumsan ac enim.</p>
                    </div>
                    <div class="col srSection">
                        <h4 class="align-center">Etape 3</h4>
                        <p>Mauris eget scelerisque nulla, ut pretium quam. Praesent eleifend rutrum eleifend. Maecenas lacinia ante nec mi feugiat, vehicula tempor nunc convallis. Aenean ac leo a est ullamcorper mattis eget ac sem. Nam sed nibh eros. Aenean ipsum nisi, semper vitae vehicula vel, porta vitae eros. Morbi lobortis nibh est, id porta nisl interdum in. Nulla consequat posuere lacus quis ornare. Nullam efficitur mauris at scelerisque viverra. Nulla erat purus, efficitur id ullamcorper vel, accumsan ac enim.</p>
                    </div>
                </div>
                <div class="align-center big-margin-top"><a href="#" class="btn-primary btn-icon"><svg class="icon icon-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use></svg>Voir le site</a></div>
            </div>
        </main>
    </div><!-- .site-content -->
{% endblock content %}
