{% extends 'layout/layout.html.twig' %}

{% block content %}
    <section class='ref-head container'>
        <h1 class='align-center'>Nos références</h1>
        <p class='align-center'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem asperiores nesciunt hic minus similique atque possimus vitae culpa fugit reiciendis ducimus expedita modi at iste, deleniti, odit sit quo!</p>
    </section>
    <section class='refs'>
        <h3 class='alt align-center'>Cas clients</h3>
        <div class='ref-grid'>
            <ul class='c1'>
                <li style='background-image:url("./img/ref2.jpg")'>
                    <a href="page-detail.html">
                        <div class='mask-color' style='background: #dbb400;'></div>
                        <div class='mask' style='background: #dbb400;'></div>
                        <div class='ref-content small-ls'>
                            <h2>IFremer</h2>
                            <span class='ref-subtitle'>Développement d'un simulateur</span>
                            <span class='hide-title'>visant à apprécier l'impact de mesures de gestion de la pêche</span>
                            <span class='btn-secondary btn-icon white'><svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>En savoir plus</span>
                        </div>
                    </a>
                </li>
                <li style='background-image:url("./img/ref3.jpg")'>
                    <a href="page-detail.html">
                        <div class='mask-color' style='background: #d50f26;'></div>
                        <div class='mask' style='background: #d50f26;'></div>
                        <div class='ref-content small-ls'>
                            <h2>Dgcs</h2>
                            <span class='ref-subtitle'>Développement d'un outil de reporting</span>
                            <span class='hide-title'>visant à apprécier l'impact de mesures de gestion de la pêche</span>
                            <span class='btn-secondary btn-icon white'><svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>En savoir plus</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class='c2'>
                <li style='background-image:url("./img/ref1.jpg")'>
                    <a href="page-detail.html">
                        <div class='mask-color' style='background: #9e143f;'></div>
                        <div class='mask' style='background: #9e143f;'></div>
                        <div class='ref-content small-ls'>
                            <h2>Cerqual</h2>
                            <span class='ref-subtitle'>Développement d'un outil de gestion</span>
                            <span class='hide-title'>visant à apprécier l'impact de mesures de gestion de la pêche</span>
                            <span class='btn-secondary btn-icon white'><svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>En savoir plus</span>
                        </div>
                    </a>
                </li>
                <li style='background-image:url("./img/ref4.jpg")'>
                    <a href="page-detail.html">
                        <div class='mask-color' style='background: #7ca02a;'></div>
                        <div class='mask' style='background: #7ca02a;'></div>
                        <div class='ref-content small-ls'>
                            <h2>Inra</h2>
                            <span class='ref-subtitle'>Développement d'un outils collaboratif</span>
                            <span class='hide-title'>visant à apprécier l'impact de mesures de gestion de la pêche</span>
                            <span class='btn-secondary btn-icon white'><svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>En savoir plus</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="container ref-clients">
        <h3 class='alt align-center'>Ils nous ont également fait confiance</h3>
        <p class='align-center'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem asperiores nesciunt hic minus similique atque possimus vitae culpa fugit reiciendis ducimus expedita modi at iste, deleniti, odit sit quo!</p>
        <ul class='client-grid'>
            <li class='srLogo'><img src="./img/decathlon.jpg" alt=""></li>
            <li class='srLogo'><img src="./img/cemagref.png" alt=""></li>
            <li class='srLogo'><img src="./img/leroy-merlin.png" alt=""></li>
            <li class='srLogo'><img src="./img/sanders.jpg" alt=""></li>
            <li class='srLogo'><img src="./img/cerqual.jpg" alt=""></li>
            <li class='srLogo'><img src="./img/finance-active.jpg" alt=""></li>
            <li class='srLogo'><img src="./img/univ-nantes.png" alt=""></li>
            <li class='srLogo'><img src="./img/orange.jpg" alt=""></li>
            <li class='srLogo'><img src="./img/insee.png" alt=""></li>
            <li class='srLogo'><img src="./img/laposte.png" alt=""></li>
            <li class='srLogo'><img src="./img/inra.png" alt=""></li>
            <li class='srLogo'><img src="./img/cemagref.png" alt=""></li>
        </ul>
    </section>
    
{% endblock content %}


