{% extends 'layout/layout.html.twig' %}

{% block content %}
    <section class='ref-head container'>
        <h1 class='align-center'>Les lutins</h1>
        <p class='align-center'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem asperiores nesciunt hic minus similique atque possimus vitae culpa fugit reiciendis ducimus expedita modi at iste, deleniti, odit sit quo!</p>
    </section>
    <section class='lutin-grid container-small'>
        <ul>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">Arnaud Thimel</span>
                    <span class='poste'>Président - Ingénieur développement</span>
                </div>
            </li>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">Benjamin Poussin</span>
                    <span class='poste'>Ingénieur développement</span>
                </div>
            </li>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">Brendan Le Ny</span>
                    <span class='poste'>Ingénieur développement</span>
                </div>
            </li>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">David Cossé</span>
                    <span class='poste'>Président - Ingénieur développement</span>
                </div>
            </li>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">Éric Chatelier</span>
                    <span class='poste'>Ingénieur développement</spans>
                </div>
            </li>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">Estelle Gendron</span>
                    <span class='poste'>Assistante de direction</span>
                </div>
            </li>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">Jean Couteau</span>
                    <span class='poste'>Ingénieur commercial</span>
                </div>
            </li>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">Julien Gaston</span>
                    <span class='poste'>Ingénieur développement</span>
                </div>
            </li>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">Julien Ruchaud</span>
                    <span class='poste'>Ingénieur développement</span>
                </div>
            </li>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">Yannick Martel</span>
                    <span class='poste'>Ingénieur développement</span>
                </div>
            </li>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">Kevin Morin</span>
                    <span class='poste'>Ingénieur développement</span>
                </div>
            </li>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">Léo Kaufmann</span>
                    <span class='poste'>Assistant à la maîtrise d'ouvrage</span>
                </div>
            </li>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">Sylvain Bavencoff</span>
                    <span class='poste'>Ingénieur développement</span>
                </div>
            </li>
            <li>
                <div class='lutin-wrap'>
                    <svg><use xlink:href='#lutin'></use></svg>
                </div>
                <div class='lutin-info'>
                    <span class="lutin-name">Samuel Maisonneuve</span>
                    <span class='poste'>Ingénieur développement</span>
                </div>
            </li>
        </ul>
    </section>
    
{% endblock content %}


